<p id="notice"><%= notice %></p>

<h1>Detections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detections.each do |detection| %>
      <tr>
        <td><%= link_to 'Show', detection %></td>
        <td><%= link_to 'Edit', edit_detection_path(detection) %></td>
        <td><%= link_to 'Destroy', detection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detection', new_detection_path %>
