<div class="row justify-content-center h-100">
  <div class="col-md-8 col-lg-6 my-auto">

    <h1>
      Detections
    </h1>
    <p>
      <%= link_to 'New Detection', new_detection_path, class: "btn btn-primary" %>
    </p>

    <% @detections.each do |detection| %>
      <div class="card box-shadow mb-4">
        <%= image_tag(url_for(detection.image), class: "card-img-top") %>

        <div class="card-body">

          <p class="card-text">
            <% unless detection.cancer.nil? %>
              Cancer: <%= detection.cancer %> %
            <% end %>

            <% unless detection.normal.nil? %>
              Normal: <%= detection.normal %> %
            <% end %>

            <% if detection.cancer.nil? && detection.normal.nil? %>
              Not detected yet
            <% end %>
          </p>
          <%= link_to 'Show', detection, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
