<div class="row justify-content-center h-100">
  <div class="col-md-8 col-lg-6 my-auto">

    <div class="card box-shadow text-center">
      <div class="card-header">
        Breast cancer detection
      </div>

      <% if @detection.image.attached? %>
        <%= image_tag(url_for(@detection.image), class:"card-img-top") %>
      <% end %>

      <div class="card-body">

        <p>

          <% unless @detection.is_mammogram.nil? %>
            Mammogram? <%= @detection.is_mammogram %> %
            <% unless @detection.is_mammogram < 0.5 %>
              <% unless @detection.cancer.nil? %>
                Cancer: <%= @detection.cancer %> %
              <% end %>

              <% unless @detection.normal.nil? %>
                Normal: <%= @detection.normal %> %
              <% end %>
            <% end %>
          <% end %>
        </p>

        <p>

          <%= link_to 'Back', detections_path, class: "btn btn-secondary m-1" %>
        </p>

      </div>

    </div>

  </div>
</div>
